.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

$controller-color: #00a1d6;


// 浮动层 统一样式
.float {
  background: rgba(21, 21, 21, 0.9);
  border-radius: 2px;
  display: none;
  position: absolute;
  z-index: 4;

  &.show {
    display: block;
  }
}

// 弹幕右键菜单
.danmaku-context-menu {
  font-size: 12px;
  z-index: 5;
  outline: none;
  color: white;
  padding: 0 15px;

  > div {
    height: 42px;
    display: flex;
    align-items: center;

    .content {
      padding-right: 15px;
      width: 135px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .buttons {

      span {
        border-radius: 5px;
        padding: 8px 10px;
        cursor: pointer;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.video-player {
  background: black;
  position: relative;
  overflow: hidden;
  cursor: default;
  user-select: none;
  outline: none;

  input.copy-tool {
    display: none
  }

  &.live {
    .live-hide {
      display: none;
    }
  }

  &.mouse-idle {
    cursor: none;
  }

  // 视频层
  video.video-layer {
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  // 互动层
  div.interactive-layer {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .bg-gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      z-index: 2;

      &.show {
        opacity: 1;
      }
    }


    .danmaku-style-layer {
      font-size: 12px;
      padding: 10px;
      color: white;

      > div {
        margin-top: 10px;
      }

      .types {
        display: flex;

        .type {
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
          margin: 0 10px;
          text-align: center;

          &:hover {
            color: white;
          }

          &.selected {
            color: $controller-color;
          }

          svg {
            width: 40px;
            height: 40px;
            padding-left: 5px;
          }
        }

        .type + .type {
          margin-left: 8px;
        }

      }

      .sizes {
        margin-top: 4px;

        span {
          padding: 3px;
          display: inline-block;
          width: 40px;
          text-align: center;
          background: rgba(255, 255, 255, 0.1);
          cursor: pointer;

          &:hover {
            background: rgba(255, 255, 255, 0.4);
          }

          &.selected {
            background: $controller-color;
          }
        }

        span:first-child {
          border-radius: 5px 0 0 5px;
        }

        span:last-child {
          border-radius: 0 5px 5px 0;
        }
      }

      .colors {
        margin-top: 4px;
        display: flex;
        flex-wrap: wrap;
        width: 240px;

        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          cursor: pointer;
          border: 2px solid transparent;
          border-radius: 2px;
          margin: 2px 5px;

          &:hover {
            border-color: #e7e7e7;
          }

          &.selected {
            border-color: $controller-color;
          }
        }
      }
    }

    .volume-bar {
      width: 32px;
      height: 100px;
      flex-direction: column;

      .volume-num-label {
        color: white !important;
        text-align: center;
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        margin-bottom: 2px;
      }

      .volume-column-bar {
        position: relative;
        width: 100%;
        height: 60px;
        cursor: pointer;

        .bar-ui {
          width: 2px;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        .bar-ui.bar-full {
          height: 100%;
          background: #e7e7e7;
          top: 0;
        }

        .bar-ui.bar-current {
          background: $controller-color;
          bottom: 0;
        }

        .bar-controller {
          position: absolute;
          background: $controller-color;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          left: 0;
          right: 0;
          top: -6px;
          margin: 0 auto;
        }
      }
    }

    .quality-menu {
      font-size: 14px;
      padding: 5px;

      > div {
        cursor: pointer;
        text-align: center;
        padding: 2px 5px;
        color: #c3c3c3;

        &:hover {
          color: white;
        }

        &.current {
          color: $controller-color;
        }
      }

      > div + > div {
        margin-top: 5px;
      }
    }

    .controller-bottom-bar {
      padding: 0 12px 4px 12px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 3;
      box-sizing: border-box;

      .time {
        color: white;
        font-size: 12px;
      }

      .progress-bar {
        position: relative;
        padding: 4px 0;
        height: 4px;
        cursor: pointer;
        margin-bottom: 10px;

        .bar-full, .bar-buffer, .bar-current {
          height: 4px;
          position: absolute;
          border-radius: 2px;
        }

        .bar-full {
          background: rgba(255, 255, 255, 0.2);
          z-index: 1;
          width: 100%;
        }

        .bar-buffer {
          background: rgba(255, 255, 255, 0.5);
          z-index: 2;
        }

        .bar-current {
          background: $controller-color;
          z-index: 3;
        }

        .bar-controller {
          position: absolute;
          top: 0;
          left: -6px;
          width: 12px;
          height: 12px;
          border-radius: 2px;
          background: $controller-color;
          z-index: 4;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;

        > * {
          display: flex;
          align-items: center;
        }

        .left {
          flex-basis: 120px;
        }

        .middle {
        }

        .right {
        }

        .button {
          color: rgba(255, 255, 255, 0.7);
          cursor: pointer;
          display: inline-block;
          font-size: 12px;

          &:hover {
            color: white;
          }

          .icon {
            width: 30px;
            height: 30px;
          }
        }

        .button + .button {
          margin-left: 10px;
        }

        .button.volume, .button.full-screen {
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

    }

    // 弹幕层
    .danmaku-layer {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      cursor: pointer;
    }

  }

}
